

#searchResults {
    top: 50px;
    position: fixed;
    display: none;
    z-index: 998;
    background: #212529;
    width: 100%;
    gap: 12px;
    padding: 12px;
    border-top: 2px solid;
}
.result {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    padding: 8px;
}
.result:hover
{
    background: rgba(0, 0, 0, 0.2);
}
.result img {
    width: 50px;
    height: auto;
}

.result-content h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: "Lexend";
    margin: 0;
    color: #DEE2E6;
}

.result-content p {
    font-size: 11px;
    margin: 0;
    color: #666;
    color: #ADB5BD;
}

.highlight {
    color: #40ffb6;
}
.see-all {
    display: flex;
    padding: 6px 12px;
    font-size: 14px;
    background: #007bff;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    color: #DEE2E6;
    text-decoration: none;
    font-weight: 400;
    width: 100%;
    transition: background-color 0.3s;
    position: relative;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    line-height: 0;
    border-radius: 2px;
}
.see-all i
{
    
}
/* Hover effect for the "See All Results" link */
.see-all:hover {
    background-color: #0056b3;
}
.search-genre {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #727272;
}
.search-genre a {
    text-decoration: none;
    color: #DEE2E6;
    line-height: 0;
    display: flex;
    gap: 5px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #343A40;
    border: 1px solid #495057;
    padding: 2px 6px;
    font-size: 12px;
    transition: background-color 0.3s;
}
.search-genre a:hover {
    background-color: #007bff;
    color: white;
}
.cancel-search
{
    width: 75px;
    height: 30px;
    background: #DEE2E6;
    border: 1px solid #ADB5BD;
    color: #6C757D;
    border-radius: 2px;
    position: absolute;
    bottom: -42px;
    left: calc(50% - 37.5px);
    display: flex;
    gap: 5px;
    line-height: 0;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.cancel-search:hover
{
    background: #c6c6c6;
}






.pop-up
{
    display: grid;
    margin: 24px;
    width: calc(100% - 48px);
    height: auto;
    position: fixed;
    background: #212529;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.5);
    bottom: 0;
    z-index: 99999;
    border: 1px solid #343A40;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.pop-up h4
{
    text-align: center;
    margin: 0;
    color: white;
    font-family: "Marcellus";
    background: #343A40;
    padding: 12px;
}
.pop-up h5
{
    font-family: "Lexend";
    color: #DEE2E6;
    margin: 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.pop-up p
{
    background: #495057;
    margin: 12px;
    margin-bottom: 0;
    padding: 12px;
    font-size: 13px;
    color: #ADB5BD;
    line-height: 1.2;
}
.pop-up .instructions
{
    margin: 12px;
    color: #ADB5BD;
    font-family: "Lexend";
    font-size: 14px;
}
.pop-up .instructions i
{
    font-size: 10px;
}
.pop-up .close-popup
{
    padding: 12px;
    margin: 12px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 14px;
    border-radius: 2px;
}

.pop-up.hidden {
    opacity: 0;
    transform: translate(0, 60%);
    pointer-events: none;
}

body.dimmed::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 999;
}
body.dimmed > *:not(.pop-up) {
    opacity: 0.5;
    pointer-events: none;
}





.menu
{
    padding: 24px;
    background: rgba(0, 0, 0, 0.9);
    gap: 12px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    right: -100vw;
    z-index: 999;    
    transition: 0.4s ease-in-out;
    backdrop-filter: blur(10px);
}
.menu .close-menu
{
    background: #343A40;
    width: 100%;
    border: 1px solid #495057;
    padding: 8px;
    color: rgba(255, 255, 255, 0.7);
}
.random-pick
{
    background: #212529;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #343A40;
    gap: 8px;
}
.random-pick h4
{
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    color: #DEE2E6;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
}
.random-pick p
{
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    color: #6C757D;
    font-family: "Lexend";
    font-weight: 400;
    font-size: 12px;
} 
.random-pick a
{
    text-decoration: none;
    background: #343A40;
    border: 1px solid #495057;
    padding: 6px;
    display: flex;
    flex-direction: row;
    line-height: 0;
    align-items: center;
    justify-content: center;
    gap: 6px;
    white-space: nowrap;
    font-size: 12px;
    color: #ADB5BD;
    transition: 0.2s;
}
.pwa, .menu-share
{
    margin: 0;
    padding: 12px;
    line-height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    background: #212529;
    border: 1px solid #343A40;
}
.pwa h4, .login h4, .menu-share h4
{
    margin: 0;
    padding: 0;
    color: #DEE2E6;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
}
.pwa button, .menu-share button
{
    background: #343A40;
    border: 1px solid #495057;
    padding: 6px;
    display: flex;
    flex-direction: row;
    line-height: 0;
    align-items: center;
    justify-content: center;
    gap: 6px;
    white-space: nowrap;
    font-size: 12px;
    color: #ADB5BD;
    transition: 0.1s;
}
.pwa button:hover,
.menu-share button:hover,
.random-pick a:hover
{
    background: #495057;
}
.pwa button i, .menu-share button i
{
    margin-left: 6px;
}
.login
{
    background: #212529;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #343A40;
    gap: 8px;
    opacity: 0.6;
    pointer-events: none;
}
.login h4
{
    margin-bottom: 12px;
}
.login input
{
    background: #495057;
    margin-bottom: 8px;
    border: 1px solid #6C757D;
    width: 100%;
    padding: 6px;
    color: #E9ECEF;
}
.login input::placeholder
{
    color: #ADB5BD;
}
.login .login-buttons
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}
#login-btn, #sign-up-btn
{
    background: #343A40;
    border: 1px solid #495057;
    padding: 8px;
    display: flex;
    flex-direction: row;
    line-height: 0;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 12px;
    color: #ADB5BD;
    flex: 1;
    gap: 6px;
}
