*
{
   -webkit-tap-highlight-color: transparent;
   box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body
{
    margin: 0;
    padding: 0;
    background: #212529;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Poppins", "Lexend Deca", "Roboto", "Nunito", "Outfit", "sans-serif";
}

.head
{
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0px 10px;
    background: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.head a {
    align-items: center;
    justify-content: center;
    display: flex;
}
.head a img
{
    height: 34px;
    width: auto;
    margin-left: 5px;
}
.head.on a{
    display: none;
}

.head.on .engine input {
    display: block;
}

.head img {
    margin: 0;
}

.engine {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.engine input[type="search"] {
    width: 100%;
    outline: none;
    white-space: nowrap;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: white;
    display: none;
    font-family: "Outfit";
    padding-left: 10px;
}
.engine input::placeholder
{
    color: whitesmoke;
    font-weight: 300;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
.engine .menu-button {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 10px;
    padding: 5px 5px 0px;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.2s;
}

.engine .menu-button i {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    transition: 0.2s ease-in;
}
.engine .menu-button:active i
{
    color: #40ffb6;
}

.engine .search {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 10px;
    padding: 5px 5px 0px;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.2s;
}

.engine .search i {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    transition: 0.2s ease-in;
}

.engine .search:active i
{
    color: #40ffb6;
}

.menu.on ~ .body
{
    filter: blur(20px);
    pointer-events: none;
}
.menu.on
{
    right: 0;
}
.menu.on .close-menu
{
    left: -120px;
}
.menu.on ~ .head
{
   background: #0f0f0f;
   backdrop-filter: blur(0);
}
.menu
{
    background: #0f0f0f;
    z-index: 999;
    position: fixed;
    width: 300px;
    height: 100vh;
    right: -300px;
    transition: all 0.3s ease, background 0s;
}

.body {
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    max-width: 1024px;
    margin: 0 auto;
    background: #0f0f0f;
}

.search-results {
    position: fixed;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
    overflow: scroll;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.search-results .search-for
{
    background: #212529;
    margin: 8px 4px;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-family: "Lexend Deca";
}
.search-results .result {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 100%;
    transition: 0.2s;
}
.search-results .result:hover{
    background: rgba(0, 0, 0, 0.4);
}
.search-results .result img{
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 2px;
}
.search-results .result h5{
    margin: 0;
    color: whitesmoke;
    font-family: "Lexend Deca";
    font-weight: 500;
    text-align: left;
}
.search-results .result p{
    margin: 0;
    font-size: 12px;
    color: #5c5c5c;
}
.search-results .result .genre{
    color: #5c5c5c;
}
.cancel-search, .cancel-extra {
    background: white;
    border: none;
    color: black;
    font-weight: 500;
    padding: 8px 16px;
    margin: 10px;
    font-size: 14px;
    font-family: "Poppins";
    cursor: pointer;
    border-radius: 100px;
    margin: 10px;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 20px;    
    transform: translateX(-50%);
    transition: background-color 0.3s;
}

.cancel-search:hover {
    background-color: #b3b3b3;
    color: #151515;
}

.search-results .result-content h5 .highlight {
    color: #1cedb9; /* Mint color for text */
}

.search-results .result-content .genre .highlight {
    color: ; /* Mint color for text */
}

.filter {
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    color: #E0E1DD;
    background: #0f0f0f;
}

.filter .Genre {
    margin: 10px 12px;
    border-radius: 8px;
    position: relative;
    display: flex;
    object-fit: cover;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 8px;
    background: transparent;
}

.filter .Genre::-webkit-scrollbar {
    display: none;
}

.filter .Genre span {
    position: relative;
    color: whitesmoke;
    border: none;
    display: inline-block;
    white-space: nowrap;
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    text-transform: ;
    padding: 6px 12px;
    transition: 0.3s;
    border-radius: 8px;
    background: #212529;
}

.filter .Genre span:hover
{
    color: white;
    box-shadow: inset 1px solid #5c5c5c;
}
.menu .close-menu
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 12px;
    height: 40px;
    top: 40px;
    gap: 12px;
    width: 150px;
    line-height: 0;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    transform: rotate(-90deg);
    transition: 0.3s;
}
.menu .type {
    display: flex;
    gap: 8px;
    margin: 16px;
}

.menu .type button {
    border: none;
    background: transparent;
    color: white;
    padding: 8px 16px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: px;
    font-family: "Outfit";
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.menu .type button.active {
   background: #212529;
   color: white;
}

.menu .type button.active i {
    color: #202020;
}
.menu .theme-bar
{
    background: #212529;
    color: white;
    font-family: "Poppins";
    margin: 16px;
    font-size: 14px;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-auto-flow: column;
}
.menu .theme-bar p
{
    line-height: 1;
    margin-left: 12px;
}

.theme-bar .theme {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 12px;
    background: #041A40;
    width: 48px;
    height: 24px;
    border-radius: 100px;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: background 0.2s;
    transition-delay: 0.2s;
}

.theme-bar .theme .knob {
    position: absolute;
    background: #F6F1D5;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    transition: transform 0.2s;
    transform: translateX(0px);
}

.theme-bar .theme.active {
    background: #87CEEB;
}

.theme-bar .theme.active .knob {
    transform: translateX(24px);
    background: #FCE570;
}

.selected-genre {
    display: none;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    color: whitesmoke;
    padding: 12px 16px;    
    border-radius: 2px;
    font-size: 12px;
    border-radius: 8px;
    margin: 10px;
}

.selected-genre #clear-genre {
    border: none;
    color: #DEE2E6;
    position: absolute;
    right: 4px;
    font-size: 24px;
    cursor: pointer;
    line-height: 0;
    font-family: "Lexend Deca";
    cursor: pointer;
    border-radius: 100px;
    background: transparent;
}

.selected-genre #clear-genre:hover {
    color: grey;
}

.selected-search {
    display: none;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    color: whitesmoke;
    padding: 12px 16px;    
    border-radius: 2px;
    font-size: 12px;
    border-radius: 8px;
    margin: 10px;
}

.selected-search #clear-search {
    border: none;
    color: #DEE2E6;
    position: absolute;
    right: 4px;
    font-size: 24px;
    cursor: pointer;
    line-height: 0;
    font-family: "Lexend Deca";
    cursor: pointer;
    border-radius: 100px;
    background: transparent;
}

.selected-search #clear-search:hover {
    color: grey;
}
.content 
{
    margin: 0;
    
}

.extra-header {
    height: 50px;
    width: 300px;
    background: transparent;
    position: relative;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;  
    right: 0;
    color: #fff;
    z-index: 100;
}

.extra-search[type="search"] {
    width: 100%;
    height: 32px;
    outline: none;
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    background: white;
    color: #181818;
    font-family: "Outfit";
    padding-left: 10px;
}
.extra-search::placeholder
{
    color: gray;
    font-weight: 400;
    font-size: 12px;
}
.extra-results {
    position: relative;
    width: 100%;
    background: transparent;
    padding: 10px;
    z-index: 100;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.extra-results .result {
    display: flex;
    background: transparent;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 0.2s;
}

.extra-results .result:hover {
    background: #212121;
}

.extra-results .result img {
    width: 50px;
    margin-right: 10px;
    border-radius: 2px;
}

.extra-results .result-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    width: calc(100% - 70px);
}

.extra-results .result-content h5 {
    margin: 0;
    color: #e0e1dd;
    font-family: "Lexend Deca";
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra-results .result-content .typedurationextra {
    display: flex;
    gap: 4px;
    margin: 0;
    margin-top: 5px;
    align-items: center;
    font-size: 10px;
    color: #9b9b9b;
}

.extra-results .result-content .type-extra,
.extra-results .result-content .duration-extra {
    font-family: "Outfit";
}

.extra-results .result-content .bullet-extra {
    color: #9b9b9b;
}

.extra-results .result-content .genre-extra {
    margin: 0;
    font-size: 10px;
    color: #9b9b9b;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel-container {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    height: 100%;
    box-sizing: border-box;
    justify-content: left;
    padding: 0;
}

.carousel-card {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: space-evenly;
    justify-content: left;
    gap: 20px;
    overflow: hidden;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.carousel-card .slider-img {
    width: 105px;
    height: auto;
    object-fit: cover;
}

.carousel-card .slider {
    position: relative;
}

.carousel-card .slider .watch-now
{
    padding: 6px 14px;
    border: none;
    margin-top: 10px;
    border-radius: 100px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    transition: 0.2s;
    position: absolute;
    bottom: 0;
    color: black;
}

.carousel-card .slider .watch-now:hover
{
    box-shadow: 0 4px 0 0 #a9a9a9;
    transform: translateY(-2px);
}

.watch-now a
{
    text-decoration: none;
    color: Black;
}

.carousel-card .slider-details {
    padding-top: 5px;
    width: 100%;
    border-radius: 8px;
    height: auto;
    
}

.carousel-card .slider-details h3
{
    color: White;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;    
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed white;
}

.carousel-card .slider-details p
{
    color: #d6d6d6;
    font-size: 12px;
    font-weight: 400;
    font-family: "Alata";
    padding: 0;
    padding-top: 5px;
    margin: 0;
}

.button-container
{
    width: auto;
    background: transparent;
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    right: 16px;
    top: 8px;
    z-index: ;
}

.button-container button:active
{
    background: whitesmoke;
    color: black;
}

.carousel-prev, .carousel-next {
    position: relative;
    background-color: #212529;
    color: whitesmoke;
    justify-content: center;
    border: none;
    border-radius: 10px;
    padding: 8px;
    line-height: 0;
    cursor: pointer;
    font-family: "Poppins";
    width: auto;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s ease;
}
.container-details
{
    border-bottom: 1px solid #404040;
    display: grid;
    grid-auto-flow: column;
    position: relative;
}
.container-details h5
{
    color: #DEE2E6;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    padding: 16px;
    margin: 0;
}
.view_type
{
    background: #212529;
    width: calc(100% - 32px);
    display: grid;
    grid-auto-flow: column;
    margin: 16px;
    padding: 12px;
    border-radius: 12px;
    gap: 12px;
    text-align: center;
}

.view_type span {
    padding: 1px;
    height: auto;
    border-radius: 12px;
    display: inline-block;
    line-height: 0;
    color: #5c5c5c;
    cursor: pointer;
    transition: 0.3s;
}
.view_type span img
{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.view_type span.active {
    box-shadow: inset 0 0 0 1.5px #389ede;
}

.container.list-view {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
    padding: 14px;
}
.container.list-view .card
{
    height: 100%;
    border-radius: 0;
    display: grid;
    grid-auto-flow: column;
    align-items: space-between;
    justify-content: left;
    overflow: hidden;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    background: transparent;
}
.container.list-view .card img
{
    height: 100px;
    width: auto;
    mask-image: none;
    -webkit-mask-image: none;
}
.container.list-view .card h5
{
    padding: 10px;
    width: 100%;
    overflow: show;
    margin: 0;
    margin-left: 5px;
    text-overflow: none;
}
.container.list-view .card .type-duration
{
    position: absolute;
    top: 25px;
    left: 80px;
}
.container.list-view .card .genre
{
    position: absolute;
    top: 55px;
    max-width: 70%;
    left: 80px;
}
.container.two-view {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    gap: 12px;
}
.container.two-view .card
{
    border-radius: 0;
}
.container.three-view {
    grid-template-columns: repeat(3, 1fr);
}


.container {
    display: grid;
    width: auto;
    min-height: 60vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 10px;
    overflow: scroll;
    scroll-behavior: smooth;
    background: transparent;
    color: white;
    position: relative;
}

.container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 2px;
}
.card:hover
{
    background: #212121;
}
.card img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.4s;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.card h5 {
    margin: 8px;
    margin-bottom: 0;
    margin-left: 4px;
    color: white;
    font-family: "Lexend Deca";
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.type-duration {
    color: #7d8a8d;
    padding: 8px 4px 6px 4px;
    display: flex;
    align-items: left;
}


/* Styling for type-duration paragraph */
.extra-results .result-content .type-duration {
    display: flex;
    gap: 5px;
    margin: 5px 0;
    font-size: 12px;
    color: #666;
}

/* Styling for type, bullet, and duration */
.extra-results .result-content .type {
    margin: 0;
    font-weight: 500;
    color: #333; /* Darker color for type text */
}

.extra-results .result-content .bullet {
    margin: 0;
    font-weight: 500;
    color: #333; /* Darker color for bullet */
}

.extra-results .result-content .duration {
    margin: 0;
    font-weight: 500;
    color: #333; /* Darker color for duration text */
}

.card .type {
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0;
    margin-right: 5px;
    color: #b6c6c6;
    background: #212121;
}

.bullet {
    margin: 0 5px 0 0;
}

.duration {
    color: #a1b0b0;
    background: #212121;
    border-radius: 4px;
    padding: 2px;
}

.genre {
    color: #a1b0b0;
    padding: 0 4px;
}


.card p {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    gap: 0;
}
.container .no-results
{
    position: absolute;
    left: 50%;
    top: 50%;
    color: blue;
}


#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    padding: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    background: black;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    z-index: 100;
    font-size: 45px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    line-height: 0;
}

#scrollToTopButton.show {
    opacity: 0.8;
    transform: translateX(-50%) translateY(0);
}

#scrollToTopButton.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
}

#scrollToTopButton i {
    line-height: 0;
}



footer
{
    height: 100px;
    display: block;
    text-align: center;
    width: 100%;
    background: #212121;
    border-top: 1px solid #5c5c5c;
    color: grey;
    bottom: 0;
}
footer .info p b
{
    color: white;
    padding: 0;
    margin: 0;
}
footer .info p
{
    font-size: 12px;
    padding: 0;
    margin: 0;
}






@media (min-width: 768px) {
     .body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .content {
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid #404040;        
    }

    .filter {
        width: 300px;
        background: transparent;
        position: sticky;
        overflow-y: scroll;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .container.three-view {
    grid-template-columns: repeat(5, 1fr);
    }
    
    .container.two-view {
    grid-template-columns: repeat(4, 1fr);
    }
    
    .filter .Genre {
    margin: 0;
    padding: 10px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: transparent;
    gap: 8px;
    }
    
    .filter .Genre span
    {
        font-size: 10px;
        border-radius: 8px;
        text-align: center;
        background: #212121;
        padding: 8px 12px;
        text-align: left;
    }
    
    .filter .Genre span:hover
    {
        background: #292929;
    }
    
    .container-details
    {
        background: transparent;
    }
    
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    .container::-webkit-scrollbar {
        display: none;
    }
    .button-container
    {
        display: flex;
    }
    .carousel
    {
        margin: 10px;
        width: calc(100% - 20px);
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
    
    .body
    {
        margin-top: calc((100vw - 1024px) / 2);
        border: none;
        max-width: 1024px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        box-shadow: 0 0 10px 5px #1d1f23;
    }
    body.light .body
    {
        box-shadow: none;
    }    
    .body
    {
        margin-top: min(calc((100vw - 1024px) / 2), 60px);
    }
}
